

<nav class="navbar navbar-light bg-light">
    <div class="links">
        <a class="navbar-brand" href="/">
        <p class="r">HOME</p>
        </a>
        <a class="navbar-brand" href="/saved">
        <p class="r">SAVED ARTICLES</p>
        </a>
    </div>
    <div class="ri">
        <a class="navbar-brand" href="https://rockandice.com/">
        <p class='l'>WWW.ROCKANDICE.COM</p>
        </a>
    </div>
    
</nav>

<div class="jumbotron jumbotron-fluid head">
    <div class="background-color">
    <div class="container">
        <h1 class="display-4 title">
            {{#if saved}}SAVED ARTICLES {{else}} ROCK AND ICE SCRAPER{{/if}}
        </h1>
        <div class="buttons">
            {{#if main}}
            <button class="btn btn-primary but article-scrape" type="button">Scape Articles</button>
            <button class="btn btn-primary but clear-all" type="button">Clear Articles</button>
            {{/if}}
            {{#if saved}}
            <button class="btn btn-primary but clear-all2" type="button">Clear Articles</button>
            {{/if}}
        </div>
    </div>
    </div>
</div>


<div class="container-fluid no-articles">
    {{#if articles}}
        <ul>
            {{#if main}}
            {{#each articles}}
            <div class="parent">
                <div class="info">
                    <p class="art-head">{{this.title}}</p>
                    <a href="{{this.link}}"><p class="art-link">{{this.link}}</p></a>
                    <p class="art-date">{{this.date}}</p>
                </div>
                <div class="button-holder">
                    <button class="btn btn-primary save-article but" data-id= "{{this.id}}" data-title= "{{this.title}}" data-link= "{{this.link}}" data-date="{{this.date}}">SAVE ARTICLE</button>
                </div>
            </div>
            {{/each}}
            {{/if}}
            
            {{#if saved}}
            {{#each articles}}
            <div class="parent">
            <p class="art-head">{{this.title}}</p>
            <a href="{{this.link}}"><p class="art-link">{{this.link}}</p></a>
            <p class="art-date">{{this.date}}</p>
            <button class="btn btn-primary delete-saved but" data-id="{{this.id}}">DELETE FROM SAVED</button>
            <button class="btn btn-primary article-notes but" data-id="{{this.id}}">ARTICLE NOTES</button>
            </div>
            {{/each}}
            {{/if}}
        </ul>
        {{else}}
        <div class="none">
            <p class="n">There are no articles currently {{#if main }} scraped. {{/if}} {{#if saved }} saved. {{/if}}</p>
        </div>
        
    {{/if}}
    

</div>

